version: '3.3'
services:
  fredy:
    container_name: fredy
    # build from empty build folder to reduce size of image
    build:
      context: .
      dockerfile: Dockerfile
    image: fredy/fredy
    # map existing config and database
    volumes:
      - ./home/apps/fredy/conf:/conf
      - ./home/apps/fredy/db:/db
    ports:
        - 9998:9998
