version: '3.8'
services:
  fredy:
    container_name: fredy
    # build from empty build folder to reduce size of image
    build:
      context: .
      dockerfile: Dockerfile
    image: fredy/fredy
    # map existing config and database
    volumes:
      - ./conf:/conf
      - ./db:/db
    ports:
        - 9998:9998
    restart: unless-stopped
