.app {
  display:flex;
  flex-direction: column;
  width:100%;

  &__container {
    width: 100%;

    padding: 1rem 1rem;
    color: var(--semi-color-text-0);
    background-color: #232429;
  }
}

.ui.inverted.segment{
  background: #31303078!important;
}

.ui.black.label, .ui.black.labels .label {
  background-color: #31303078!important;
}