.app {
  height: 100vh;
  width: 100vw;

  &__main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 24px;
    background-color: var(--semi-color-bg-0);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      padding: 12px;
    }
  }
}

.semi-icon:not(.semi-tabs-bar .semi-tabs-tab .semi-icon) {
  vertical-align: middle;
}
