{
  "interval": 1,
  "infoApi": true,
  "jobs": {
    "yourSearchJob": {
      "notification": {
        "slack": {
          "token": "",
          "channel": "",
          "enabled": false
        },
        "telegram": {
          "chatId": "",
          "token": "",
          "enabled": false
        },
        "sendGrid": {
          "apiKey": "",
          "from": "",
          "receiver": "",
          "templateId": "",
          "enabled": false
        },
        "console": {
          "enabled": true
        }
      },
      "provider": {
        "immoscout": {
          "url": "https://www.immobilienscout24.de/...",
          "enabled": true
        },
        "immonet": {
          "url": "https://www.immonet.de/immobiliensuche/...",
          "enabled": true
        },
        "immowelt": {
          "url": "https://www.immowelt.de/liste/...",
          "enabled": true
        },
        "kleinanzeigen": {
          "url": "https://www.ebay-kleinanzeigen.de/...",
          "enabled": true
        },
        "kalaydo": {
          "url": "https://www.kalaydo.de/immobilien/...",
          "enabled": true
        },
        "abInsZuHause": {
          "url": "https://ab-ins-zuhause.de/neues-zuhause-finden/...",
          "enabled": true
        },
        "einsAImmobilien": {
          "url": "https://www.1a-immobilienmarkt.de/suchen/...",
          "enabled": true
        },
        "neubauKompass": {
          "url": "https://www.neubaukompass.de/...",
          "enabled": true
        },
        "wgGesucht": {
          "url": "https://www.wg-gesucht.de/...",
          "enabled": true
        }
      },
      "blacklist": [
        "Vermietete",
        "Vermietet",
        "vermietete",
        "vermietet"
      ],
      "blacklistedDistricts": [
        "Altstadt",
        "Angermund",
        "Carlstadt",
        "Friedrichstadt",
        "Heerdt",
        "Hellerhof",
        "Hubbelrath",
        "Itter",
        "Kalkum",
        "Lichtenbroich",
        "Lohausen",
        "Niederkassel",
        "Oberkassel",
        "Stadtmittel",
        "Stockum",
        "Urdenbach",
        "Wittlaer",
        "Lörick"
      ]
    }
  }
}
