.fredyFooter {
  background:rgb(53, 54, 60);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__version {
    padding-left: .5rem;
    font-size: small;

  }
  &__copyRight {
    padding-right: 1rem;

  }
}