.toasts-container {
    position: fixed;
    z-index: 65535;
    right: 0;
    max-width: 250px;
    display: flex;
    flex-direction: column-reverse;
}

.toasts-container > .toast-container {
    margin-bottom: 10px;
}

.toasts-container:last-child {
    margin-bottom: 0;
}

.toast-container {
    visibility: hidden;
    position: relative;
    z-index: 65535;
    right: -1000px;

    background-color: skyblue;
    border-radius: 10px;
    padding: 10px;

    min-width: 10rem;
    min-height: 3rem;
}

.toast-container.show-toast {
    visibility: visible;
    right: 24px;
    animation: slidein 0.5s;
}

.toast-container.hide-toast {
    visibility: visible;
    animation: slideout 0.5s;
}

@keyframes slidein {
    from {
        right: -1000px;
        opacity: 0;
    }
    to {
        right: 24px;
        opacity: 1;
    }
}

@keyframes slideout {
    from {
        right: 24px;
        opacity: 1;
    }
    to {
        right: -1000px;
        opacity: 0;
    }
}