@import '../../../tokens.less';

.userMutator {
  display: flex;
  flex-direction: column;

  &__actions {
    display: flex;
    gap: @space-2;
    margin-top: @space-2;
    justify-content: flex-start;
  }
}
