@import '../../../tokens.less';

.userMutator__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: @space-2;
  margin-bottom: @space-4;
}

.userMutator {
  display: flex;
  flex-direction: column;

  &__actions {
    display: flex;
    gap: @space-2;
    margin-top: @space-2;
    justify-content: flex-start;
  }
}
