.versionBanner {
  margin-bottom: 0 !important;

  .semi-banner-body {
    padding: 6px 16px;
  }

  &__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__details {
    margin-bottom: 16px;
  }

  &__notes {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 4px;
  }
}
