name: Test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 12 * * *'      
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup node
        uses: actions/setup-node@v2.5.1
        with:
          node-version: 20
          cache: 'yarn'
      - run: yarn install
      - run: yarn run test
